body{
    background-image: url(greybg.jpeg);
}
li a:hover{
    color: white;
    background-color:red;
}
.active{
    background-color: royalblue;
    color: white;
}
#nav{
    text-align: center; 
}
#nav li{
    display: inline;
}
#nav a {
    text-decoration: none;
    padding: 0 30px;
}
.b-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 6fr 0.25fr;
    grid-gap: 5px;
    grid-template-areas:
      "b-header"
      "b-main-content"
      "b-footer";
  }
.b-header{
    grid-area: b-header;
    text-align: center;
    background: grey;
    height: 75px;
    text-decoration: underline;
    font-family:monospace;
    font-size: 42px;
}
.b-main-content{
    grid-area: b-main-content;
    text-align: center;
    background: white;
    height: 3600px;
}
.b-footer{
    grid-area: b-footer;
    text-align: center;
    background: cornsilk;
}
article{
    font-family: sans-serif;
    font-size: 22px;
}
