body{
    background-image: url(greybg.jpeg);
}
li a:hover{
    color: white;
    background-color:red;
}
.active{
    background-color: royalblue;
    color: white;
}
#nav{
    text-align: center; 
}
#nav li{
    display: inline;
}
#nav a {
    text-decoration: none;
    padding: 0 30px;
}
